<html>

{{> header}}
    
<body class="homepage">

       <header class="fade_6" style="opacity: 0;">
            {{navigation}}
        </header>
        
    
        <div class="home home-body">
            <h2 class="fade_1" style="opacity: 0;">I'm <a href="/about">Ryan Apfel</a>.</h2>
            <p class="fade_2" style="opacity: 0;">I like taking <a href="photos">Pictures</a>.</p>
            <p class="fade_3" style="opacity: 0;">I go to <a href="/about">USC</a>.</p>
            <p class="fade_4" style="opacity: 0;">I work on <a href="/tag/work">Projects</a>.</p>
            <p class="fade_5" style="opacity: 0;">I need a <a href="/hire">Job</a>.</p>
        </div>


</body>
    
 {{> footer}}

    
